<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Course Info</h5>
          <p>
            <strong>ID</strong>: {{example.dataValues.id}}</p>
          <p>
            <p>
              <strong>Course</strong>: {{example.dataValues.text}}</p>
            <p>
              <strong>Description:</strong> {{example.dataValues.description}}</p>
            <a href="/index">← Back To Courses</a>
        </div>
      </div>
    </div>
  </div>
</div>