<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Where students & tutors unite!</h2>
        <hr>
        <h3>Available Courses:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.dataValues.id}}" class="list-group-item">
            <a href="example/{{this.dataValues.id}}">{{this.dataValues.text}}</a>
            <button class="btn btn-danger float-right delete">x</button>
          </li>
          {{/each}}
        </ul>
        <a href="/add"><button class="btn btn-lg btn-primary m-2">
            <span class="fa "></span> Teach a class
          </button></a>
        <a href="/cart"><button class="btn btn-lg btn-primary m-2">
            <span class="fa "></span> Your cart
          </button></a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>